# ============================================
# 🚀 NIMBUS - Шаблон конфига
# ============================================

# Server
NODE_ENV=development
PORT=3001

# Database
DATABASE_URL=file:./apps/server/prisma/dev.db

# JWT & Encryption
JWT_SECRET=36427af4278b7198dc850c7235c4c85feda7275d89fe3d360c79a1af94579765
ENCRYPTION_KEY=36427af4278b7198dc850c7235c4c85feda7275d89fe3d360c79a1af94579765
MASTER_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef

# CORS
CORS_ORIGINS=http://localhost:5173,http://localhost:3000

# Rate Limits
MAX_REGISTRATIONS_PER_IP=5

# File Storage
MAX_FILE_SIZE=53687091200
CHUNK_SIZE=19922944

# Telegram (опционально)
TELEGRAM_BOT_TOKENS=
TELEGRAM_CHANNEL_IDS=

# Discord (опционально)
DISCORD_WEBHOOK_URLS=

# Admin
ADMIN_TOKEN=qwertyuiopasd
